.category > * {
    cursor: pointer;
    transition: filter 0.75s;
}

.category-image {
    transition: filter 0.75s ease;
}

.category:hover > .category-image {
    filter: blur(5px);
}

.category {
    position: relative;
}

.category-image {
    display: block;
    width: 100%;
    height: auto;
}

.category-overlay:before {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    width: 100%;
    height: 50px;
    transition: .5s ease;
    word-wrap: normal;
    z-index: 0;  
    background-color: rgba(45,57,127,1);
    content: '';
}

.category-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    width: 100%;
    height: 50px;
    transition: .5s ease;
}

.text {
    word-wrap: break-word;
    color: white;
    z-index: 2;
    font-size: 16px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transition: all 0.5 ease;
}

.subcategories {
    display: none;
}

.category:hover .category-overlay, .category:hover .category-overlay::before {
    height: 100%;
}

.category:hover > .category-overlay::before {
    background-color: rgba(45,57,127,0.5);
}

.category:hover .category-overlay .text {
    font-size: 30px;
}

ul a {
    text-decoration: none;
}

ul a li h3, ul a li h4, ul a li p {
    padding: 0px;
    margin: 0px;
}

@media screen and (max-width: 400px)
{
    .mobile-header {
        font-size: 20px !important;
    }

    .w3-col {
        margin-bottom: 10px;
    }

    .category:hover .category-overlay .text {
        font-size: 20px !important;
    }

}

@media screen and (max-width: 800px)
{
    .category:hover .category-overlay .text {
        font-size: 22px !important;
    }

}