<h1>Rīgas Valsts tehnikuma 4.kursa darbs</h1>
<h2>Apraksts</h2>
<p>
    Sludinājumu portāls kalpo kā dažādu preču un pakalpojumu piedāvājumu portāls, 
    kurā lietotāji medz apskatīties un interesēties par piedāvātām precem un pakalpojumiem 
    un kurā lietotāji medz piedavāt savas preces un pakalpojumus citiem lietotājiem.
</p>
<p>
    Sludinājumu portālu apkalpo administratori, kuri, balstoties uz lietotājupi 
    piedāvājumiem un pieprasījumiem izveido jaunas kategorijas preču un pakalpojumu šķirošanai 
    un kategorizēšanai, kā arī uztūrē kartību portālā. 
</p>
<h2>Programmatūras specifikācija</h2>
<p>
    Programmatūras specifikācija ir pieejāma kā Microsoft Word dokuments, kuru jūs varat lejupielādēt 
    <a href="/static/specification.docx">šeit</a>.
</p>
<h2>Izmantotas tehnoloģijas</h2>
<ul>
    <li>
        .NET Core Framework 2.0 – open-source pārvaldītas programmas sistēma, ar 
        kuras palīdzību iespējams izpildīt pārvaldītas programmas vairākas operētājsistēmās;
    </li>
    <li>
        ASP.NET Core un ASP.NET Core MVC – servera rīki, ar kuras palīdzību tiek nodrošinātas 
        servera atbildes uz klienta pieprasījumiem un maršrutēšana;
    </li>
­	 <li>
        Entity Framework Core – datubāzes projektējums, balstoties uz MVC modelēm (POCO – Plain 
        Old C# Objects);
    </li>
    <li>
        ASP.NET Core Static Files – statisko failu apstrādei un nodošanai klientam.
    </li>
­    <li>
        ASP.NET Core Identity – lietotāju kontiem, lietotāju grupām un politikām;
    </li>
</ul>
<h2>Izmantotie resursi</h2>
<p>
    Lai apskatītu darbā izmantotos resursus, lūdzu apmēklēt lapu
    &quot;<a asp-controller="Home" asp-action="Uses">Izmantotie resursi</a>&quot;.
</p>