<!-- Page Container -->
<div class="w3-content w3-margin-top" style="max-width:1400px;">

  <!-- The Grid -->
  <div class="w3-row-padding">
  
    <!-- Left Column -->
    <div class="w3-third">
    
      <div class="w3-white w3-text-grey w3-card-4">
        <div class="w3-display-container">
          <img src="/static/me.jpg" style="width:100%" alt="Avatar">
          <div class="w3-display-bottomleft w3-container w3-text-white">
            <h2>Artūrs Veršiņins</h2>
          </div>
        </div>
        <div class="w3-container">
          <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-indigo"></i>Programmēšanas tehniķis</p>
          <p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-indigo"></i>Rīga, Latvija</p>
          <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-indigo"></i>po4teda@hotmail.com</p>
          <p><i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-indigo"></i>+371 20043217</p>
          <hr>

          <p class="w3-large"><b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-indigo"></i>Prasmes</b></p>
          <p>C# & .NET</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-indigo" style="width:85%">85%</div>
          </div>
          <p>JavaScript</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-indigo" style="width:80%">
              <div class="w3-center w3-text-white">80%</div>
            </div>
          </div>
          <p>C++</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-indigo" style="width:60%">60%</div>
          </div>
          <p>CSS</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-indigo" style="width:45%">45%</div>
          </div>
          <br>

          <p class="w3-large w3-text-theme"><b><i class="fa fa-globe fa-fw w3-margin-right w3-text-indigo"></i>Valodas</b></p>
          <p>Русский</p>
          <div class="w3-light-grey w3-round-xlarge">
            <div class="w3-round-xlarge w3-center w3-indigo" style="height:24px;width:100%">100%</div>
          </div>
          <p>Беларуская мова</p>
          <div class="w3-light-grey w3-round-xlarge">
            <div class="w3-round-xlarge w3-center w3-indigo" style="height:24px;width:97%">97%</div>
          </div>
          <p>English</p>
          <div class="w3-light-grey w3-round-xlarge">
            <div class="w3-round-xlarge w3-center w3-indigo" style="height:24px;width:78%">78%</div>
          </div>
          <p>Latviešu</p>
          <div class="w3-light-grey w3-round-xlarge">
            <div class="w3-round-xlarge w3-center w3-indigo" style="height:24px;width:52%">52%</div>
          </div>
          <br>
        </div>
      </div><br>

    <!-- End Left Column -->
    </div>

    <!-- Right Column -->
    <div class="w3-twothird">
    
      <div class="w3-container w3-card w3-white w3-margin-bottom">
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-indigo"></i>Darba pieredze</h2>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Vecākais kasieris / SIA Rimi Latvia</b></h5>
          <h6 class="w3-text-indigo"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Jūl 2015 - <span class="w3-tag w3-indigo w3-round">Tagad</span></h6>
          <p>Neko nevaru ar sevi padarīt un aiziet prom.</p>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Freelancer</b></h5>
          <h6 class="w3-text-indigo"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Mar 2014 - <span class="w3-tag w3-indigo w3-round">Tagad</span></h6>
          <p>Dažādu risinājumu C#/VB.NET projektu veidotājs.</p>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Web lapu veidotājs, dizaineris / BJC Daugmale</b></h5>
          <h6 class="w3-text-indigo"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Sep 2011 - Apr 2013</h6>
          <p>Kadreiz pat maksāja 80 latus menēsī.</p><br>
        </div>
      </div>

      <div class="w3-container w3-card w3-white">
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-indigo"></i>Izglītība</h2>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Rīgas Valsts tehnikums</b></h5>
          <h6 class="w3-text-indigo"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Sep 2013 - <span style="text-decoration: line-through">Jūn 2017</span><span class="w3-tag w3-indigo w3-round">Tagad</span></h6>
          <p>Jūs varat mīlēt, Jūs varat ienīst, bet jums tas ir jāpabeidz.</p>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Jankas Kupalas Rīgas baltkrievu pamatskola</b></h5>
          <h6 class="w3-text-indigo"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2008 - 2013</h6>
          <p>Pamatizglītība</p>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Rīgas 72.vidusskola</b></h5>
          <h6 class="w3-text-indigo"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2005 - 2008</h6>
        </div>
      </div>

    <!-- End Right Column -->
    </div>
    
  <!-- End Grid -->
  </div>
  
  <!-- End Page Container -->
</div>