<h1>Izmantotie resursi</h1>
<ol>
    <li>
        <h4>favicon.ico</h4>
        <ul>
            <li>Autors: eBiene</li>
            <li>Nosaukums: E-Commerce Icons (10 icons)
            <li>Licence: Linkware</li>
            <li>Drīkst izmantot komercdarbība: Jā</li>
            <li>Atsauces tips: Ikona</li>
            <li><a href="http://www.iconarchive.com/show/e-commerce-icons-by-ebiene/checklist-icon.html">Atsauce</a></li>
        </ul>
    </li>

    <li>
        <h4>/static/all_animals.jpg</h4>
        <ul>
            <li>Autors: Martin Eayrs</li>
            <li>Nosaukums: Dog</li>
            <li>Licence: CC BY-NC 2.0</li>
            <li>Drīkst izmantot komercdarbība: Nē</li>
            <li>Atsauces tips: Attēls</li>
            <li><a href="https://www.flickr.com/photos/eltpics/10350117366/in/photolist-gLB4iq-9YpP1Q-pgf57P-oKVtHt-qihS4a-7cYEnA-ajibvo-9JdP1V-qxsjpb-bj68U-6V2cb5-8hgy3R-pGupXv-4FdhzB-8odpPb-2BgV6-SGNezP-LyJKK-LyKhi-qxshoC-bATasW-LyyRN-w1htg-7cULbT-hvv58J-cBUX7-9YmU7z-apVxVv-yPGt-GkscE-4P6t7B-bj6b9-eZnrMP-4aAHoV-nqsMRW-EMJZM-pmn3rq-gLB4Cn-8Etvp-9hqnL5-9oyrdg-ubDi9-VD7wmz-apYgyS-bj68P-n7HCM-8qMXP9-bnmdWh-4dW5HS-752GNx">Atsauce</a></li>
        </ul>
    </li>
    
    <li>
        <h4>/static/all_jobs.jpg</h4>
        <ul>
            <li>Autors: Elvert Barnes</li>
            <li>Nosaukums: Men At Work</li>
            <li>Licence: CC BY 2.0</li>
            <li>Drīkst izmantot komercdarbība: Jā</li>
            <li>Atsauces tips: Attēls</li>
            <li><a href="https://www.flickr.com/photos/perspective/78332225/in/photolist-7VtrB-VaNurF-pofFGp-oubGur-FqiGm-21FzkcW-aKFEkX-hTqEq1-U8QH7D-WWPLvz-4XA1hM-f8rMUc-Vfe4bs-pAgy4e-WMX2RE-ezhNBr-X63jgm-SVoFAA-V8X1mB-Rc1oJT-mBVEDF-6joZym-dbm9cx-c2xwdN-akUamc-fDpATV-mRjoiF-V7ZvsA-SQffjR-8vEXcj-edNeh4-8qdeLz-6s2v7t-qpXmZD-9yjxU7-bVm8zi-SC99FB-Qwqksi-Ewaeuz-Ye75ef-noTMbB-6yyTZJ-Xbv4eo-ayDL2R-9CqXa9-8ph9B5-suvRGH-qKCVUv-bE4uLw-6uTF3P">Atsauce</a></li>
        </ul>
    </li>
    
    <li>
        <h4>/static/all_electronics.jpg</h4>
        <ul>
            <li>Autors: Earl</li>
            <li>Nosaukums: Circuit Components - 3</li>
            <li>Licence: CC BY-NC-ND 2.0</li>
            <li>Drīkst izmantot komercdarbība: Nē</li>
            <li>Atsauces tips: Attēls</li>
            <li><a href="https://www.flickr.com/photos/photobunny_earl/3541716484/in/photolist-6oYdVj-5sSTWS-rjicvF-f2D1iW-db4JFP-3SBhgt-q7z6dB-dkXpNP-db4KMD-5sprrn-dPTW8r-eKHsE1-5stP4Y-6o8BM7-fxNmJ3-eKvxnM-ox7Lie-8DSvt-6oYib3-7JHxQT-s3VAfU-8bshfC-6cLCAx-8JJRoY-6eE1Qp-8fZHCm-2bLwi7-7KvcE4-dystrc-9UxJid-eKHEgd-w4gvxm-db4Jxc-5sppXn-cYfc9J-6M8ii3-bnCKn5-6oUcfz-diAVTC-2A5kpm-d2FqKd-dPTW5D-9fNt59-5stN8W-6dqKZJ-P33fRh-rHU9HM-98E1nA-7RUq1H-cYfbRj">Atsauce</a></li>
        </ul>
    </li>
    
    <li>
        <h4>/static/all_realestates.jpg</h4>
        <ul>
            <li>Autors: rossograph</li>
            <li>Nosaukums: George and Martha Hitchcock House</li>
            <li>Licence: CC BY-SA 3.0</li>
            <li>Drīkst izmantot komercdarbība: Jā</li>
            <li>Atsauces tips: Attēls</li>
            <li><a href="https://commons.wikimedia.org/wiki/File:George_and_Martha_Hitchcock_House.jpg">Atsauce</a></li>
        </ul> 
    </li>    
    
    <li>
        <h4>/static/all_clothes_footwear.jpg</h4>
        <ul>
            <li>Autors: PT. Brodo Ganesha Indonesia</li>
            <li>Nosaukums: Brodo Store Jogja</li>
            <li>Datums: CC BY-SA 4.0</li>
            <li>Licence: CC0 1.0 (Public Domain Dedication)</li>
            <li>Drīkst izmantot komercdarbība: Jā</li>
            <li>Atsauces tips: Attēls</li>
            <li><a href="https://upload.wikimedia.org/wikipedia/commons/b/bf/Brodo_Store_Jogja.jpg">Atsauce</a></li>
        </ul>       
    </li>

    <li>   
        <h4>/static/all_transport.jpg</h4>
        <ul>
            <li>Autors: Maj100r</li>
            <li>Nosaukums: [hrvatski] Nova rent a car Croatia fleet</li>
            <li>Licence: CC BY-SA 4.0</li>
            <li>Drīkst izmantot komercdarbība: Jā</li>
            <li>Atsauces tips: Attēls</li>
            <li><a href="https://upload.wikimedia.org/wikipedia/commons/2/20/BMW_nova_rent_a_car_cROATIA_fleet.png">Atsauce</a></li>
        </ul>       
    </li>

    <li>
        <h4>/static/styles/w3.css</h4>
        <ul>
            <li>Autors: Refsnes Data</li>
            <li>Nosaukums: W3.CSS</li>
            <li>Atsauces tips: kaskadēta stila lapa</li>
            <li><a href="https://www.w3schools.com/w3css/">Atsauce</a></li>
        </ul>
    </li>  

</ol>    