<div class="w3-container">
    <h2>Informācija un statistika</h2>
    <p>
        Šīni lapā ir redzama detalizēta statistika, kā arī jaunakie sistēmas paziņojumi.
    </p>
    <hr />
    <ul class="w3-ul w3-border w3-hoverable">
        <li class="w3-hover-theme-d5 w3-theme-d5 w3-small">
            <h2>Statistika</h2>
        </li>
        <li class="w3-bar w3-small">
            <i class="w3-bar-item w3-circle fa fa-address-card-o w3-xxxlarge" style="width:85px"></i>
            <span class="w3-large">Sludinājumi</span>
            <p>Serveri ir reģistrēti: @ViewBag.adsCount</p>
        </li>
        <li class="w3-bar w3-small">
            <i class="w3-bar-item w3-circle fa fa-user w3-xxxlarge" style="width:85px"></i>
            <span class="w3-large">Lietotāji</span>
            <p>Serveri ir reģistrēti: @ViewBag.usersCount</p>
        </li>
        <li class="w3-bar w3-small">
            <i class="w3-bar-item w3-circle fa fa-sitemap w3-xxxlarge" style="width:85px"></i>
            <span class="w3-large">Kategorijas</span>
            <p>Serveri ir reģistrēti: @ViewBag.categoriesCount</p>
        </li>
    </ul>
</div>